/* modal.css */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}
